<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>Here`s new payment for loan <%= @loan_sum %>$, lended by <%= @lender_name %></p>
  <p>loan percentage <%= @loan_percentage %>%</p>

  <p><b>payment sum <%= @payment_sum %>$</b></p>

  <p>Please, pay off debt until <%= @pay_until %>.</p>
</body>
</html>
